/* src/styles/hero.css */

.hero-div {
  width: 100%;
  height: 800px;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffae00, #7e28b8, #fdee17);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  overflow: hidden;
  position: relative;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.hero-img-laptop {
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translate(-110%, -50%);
    height: 500px;
    width: 625px;
    background-image: url('/public/new-image-laptop.png'); 
    background-size: cover;
    color: #111827;
    text-align: center;
    z-index: 2;
  }

  .video-inside-laptop {
    position: absolute;
    top: 350px;    
    left: 50%;
    transform: translate(-130.3%, -50%);
    width: 390px;
    height: 500px;
    border-radius: 8px;
    z-index: 5;
  }
 

  .shadow-ellipse {
    position: absolute;
    left: 50%;
    top: 516px;
    transform: translate(-125%, -50%);
    width: 400px;
    height: 20px;
    background: radial-gradient(ellipse at center, #00000063 0%, transparent 80%);
    filter: blur(2px);
    z-index: 1;
  }
  
  .hero-content h2 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(15%, -50%);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: initial;
    width: 30%;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: #ffffff;

  }
  
  .hero-content p {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(15%, -50%);
    font-size: 0.9rem;
    margin-bottom: 30px;
    text-align: initial;
    width: 30%;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;

  }
  
  .cta-button {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(40%, -50%);
    background-color: #64bdae;
    color: rgb(238, 236, 236);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #ebebeb;
    color: rgb(31, 30, 30);

  }


  .blob {
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    pointer-events: none;
    animation: pulse 4s ease-in-out infinite; /* Melhorar a animação */
  }
  
  .blob-purple {
    top: 250px;
    left: 50%;
    transform: translate(-220%, -50%); /* Posição inicial fixa */
  }
  
  .blob-pink {
    top: 380px;
    left: 50%;
    transform: translate(-100%, -50%); /* Posição inicial fixa */
    animation-delay: 1s; /* Pequeno atraso para criar desincronização */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1); /* Tamanho inicial */
    }
    50% {
      transform: scale(1.2); /* Aumenta o tamanho para visibilidade */
    }
    100% {
      transform: scale(1); /* Retorna ao tamanho original */
    }
  }


  .hero-blob {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.6;
    z-index: 0;
  }
  
  .blob-1 {
    width: 300px;
    height: 300px;
    background: #e2bf5f;
    top: 500px;
    transform: translate(-220%, -50%);

  }
  
  .blob-2 {
    width: 400px;
    height: 400px;
    background: #fa58ec;
    top: 180px;
    transform: translate(-270%, -50%);

  }
  

  


  
  
  
  