/* index.css ou App.css */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f472b6, #c084fc, #60a5fa);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
  }
  
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  